<table class="table table-condensed">
  <thead>
    <tr>
      <th>Price</th>
      <th>Roast Name</th>
      <th>Available</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @roasts.each do |roast| %>
    <tr>
      <td><%= roast.id %></td>
      <td><%= link_to roast.name, roast_path(roast) %></td>
      <td><%= roast.available %></td>
      <td><%= link_to "Edit", edit_roast_path(roast) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
