<div class="jumbotron">
<h1><i class="fa fa-coffee"></i> Welcome to CoffeeHaus</h1>
<p>For all your coffee needs. </p>
<%= link_to "Roasts", roasts_path, class: "btn btn-primary btn-lg" %>
</div>

<div class="row">

	<%= render @roasts %>

</div>