<div class="col-md-3">
<div class="thumbnail">
  <%= link_to roast_path(roast) do %>
  <%= image_tag roast.image.url(:original), class: "img-responsive" %>
  <% end %>
<div class="caption">
  <p><strong><%= link_to roast.name, roast_path(roast) %></strong></p>
  <p>$ <%=roast.price.to_f / 100 %></p>
</div>
</div>
</div>