<h1 class="text-center">Editing Roast</h1>

<%= render 'form' %><!-- Load Form partial for editing roast -->

<%= link_to 'Show', @roast %> |<!-- Opens up item in item pay page -->
<%= link_to 'Back', roasts_path %>
